; Config file for the LteSimulator
; Physical subframe duration (in seconds)
PSF 0.001
; Uplink and downlink traffic characteristics:
; deterministic|poisson|pareto packet_rate (in pkts/psf) [alpha (if pareto)]
; or
; trace file_name
UL_TRAFFIC poisson 0.1
DL_TRAFFIC pareto 0.2 1.5
; DRX parameters
; DRX parameters in the RRC_CONNECTED state (in psf units): 
; short_drx_cycle long_drx_cycle short_drx_timer on_duration inactivity_timer queue_threshold (in pkts) [delay_threshold (if qth!=1)] [avg_target_delay (if qth=0)]
RRC_CONNECTED_DRX 32 128 2 2 10 1
; DRX parameters in the RRC_IDLE state (in psf units): 
; idle_drx_cycle idle_on_duration idle_inactivity_timer connection_delay
RRC_IDLE_DRX 1280 40 10000 260
